In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import warnings # supress warnings
warnings.filterwarnings('ignore')

In [2]:
book_final_data=pd.read_csv('/content/drive/MyDrive/bookfinal/book_final_data.csv')

In [3]:
book_final_data.head(3)

   user_id  age        isbn  ...      city       state  country
0    11676   34  0002005018  ...   unknown     unknown  unknown
1   116866   34  0002005018  ...    ottawa           ,  unknown
2   110912   36  0374157065  ...  milpitas  california      usa

[3 rows x 14 columns]

In [4]:
book_final_data.shape

(153428, 14)

In [5]:
book_final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153428 entries, 0 to 153427
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              153428 non-null  int64
 1   age                  153428 non-null  int64
 2   isbn                 153428 non-null  object
 3   rating               153428 non-null  int64
 4   book_title           153428 non-null  object
 5   book_author          153428 non-null  object
 6   year_of_publication  153428 non-null  float64
 7   publisher            153428 non-null  object
 8   Summary              153428 non-null  object
 9   Language             153428 non-null  object
 10  Category             153428 non-null  object
 11  city                 153428 non-null  object
 12  state                153428 non-null  object
 13  country              153428 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 16.4+ MB

In [6]:
book_final_data.isnull().sum()

user_id                0
age                    0
isbn                   0
rating                 0
book_title             0
book_author            0
year_of_publication    0
publisher              0
Summary                0
Language               0
Category               0
city                   0
state                  0
country                0
dtype: int64

In [7]:
book_final_data.describe()

             user_id            age         rating  year_of_publication
count  153428.000000  153428.000000  153428.000000        153428.000000
mean   131555.802174      36.976223       7.816781          1995.092708
std     80380.995517       9.703356       1.809914             7.696472
min       254.000000       5.000000       1.000000          1806.000000
25%     63714.000000      32.000000       7.000000          1992.000000
50%    126196.000000      34.000000       8.000000          1997.000000
75%    199416.000000      43.000000       9.000000          2001.000000
max    278418.000000      81.000000      10.000000          2004.000000

In [8]:
# importing surprise and packages
!pip install surprise
from surprise import Reader, Dataset
from surprise import SVD, NMF, KNNBasic, model_selection, accuracy
from surprise.model_selection import cross_validate

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)

In [9]:

# Creating a 'Reader' object to set the limit of the ratings 
reader = Reader(rating_scale=(1, 10))

# Load the data into a 'dataset' object directly from the pandas dataframe
data = Dataset.load_from_df(book_final_data[['user_id','isbn','rating']], reader)

In [10]:
reader

In [11]:
data

In [12]:
# Testing model with cosine similarity using 5-fold cross-validation procedure
sim_options = {
    'name': 'cosine',
    'user_based': 'True'
}

model_knn_u = KNNBasic(sim_options = sim_options)

cross_validate(model_knn_u, data, measures=['RMSE'], cv=5, verbose=True)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.9401  1.9669  1.9421  1.9412  1.9431  1.9467  0.0101
Fit time          0.31    0.36    0.36    0.35    0.38    0.35    0.02
Test time         0.67    0.67    0.57    0.67    0.66    0.65    0.04

{'fit_time': (0.30533313751220703,
  0.35579490661621094,
  0.36043477058410645,
  0.3497743606567383,
  0.3788468837738037),
 'test_rmse': array([1.94010864, 1.96685505, 1.94206318, 1.94116064, 1.94314549]),
 'test_time': (0.6706798076629639,
  0.6680619716644287,
  0.5696964263916016,
  0.6747431755065918,
  0.6583149433135986)}

In [13]:
# testing model with Pearson similarity using 5-fold cross-validation procedure
sim_options = {
    'name': 'pearson',
    'user_based': 'True'
}

model_knn_u = KNNBasic(sim_options = sim_options)

cross_validate(model_knn_u, data, measures=['RMSE'], cv=5, verbose=True)

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.9215  1.9267  1.9066  1.9143  1.9407  1.9220  0.0116
Fit time          0.38    0.45    0.46    0.45    0.45    0.44    0.03
Test time         0.54    0.51    0.66    0.53    0.51    0.55    0.06

{'fit_time': (0.375659704208374,
  0.45458126068115234,
  0.45563268661499023,
  0.4468662738800049,
  0.453794002532959),
 'test_rmse': array([1.9215478 , 1.92673434, 1.90655062, 1.91433691, 1.94074598]),
 'test_time': (0.5444393157958984,
  0.5135748386383057,
  0.6619284152984619,
  0.5265913009643555,
  0.5129311084747314)}

In [14]:
# testing model with cosine similarity using 5-fold cross-validation procedure
sim_options = {
    'name': 'cosine',
    'user_based': 'False'
}

model_knn_i = KNNBasic(sim_options = sim_options)
cross_validate(model_knn_i, data, measures=['RMSE'], cv=5, verbose=True)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.9447  1.9405  1.9478  1.9604  1.9539  1.9495  0.0070
Fit time          0.28    0.36    0.36    0.36    0.36    0.34    0.03
Test time         0.75    0.54    0.55    0.54    0.70    0.62    0.09

{'fit_time': (0.28327298164367676,
  0.36095523834228516,
  0.3570587635040283,
  0.36432719230651855,
  0.3559443950653076),
 'test_rmse': array([1.94469239, 1.94051332, 1.94783875, 1.96037837, 1.95390458]),
 'test_time': (0.7522177696228027,
  0.5390684604644775,
  0.5545732975006104,
  0.5432376861572266,
  0.7000162601470947)}

In [15]:
# testing model with Pearson similarity using 5-fold cross-validation procedure
sim_options = {
    'name': 'pearson',
    'user_based': 'False'
}

model_knn_i = KNNBasic(sim_options = sim_options)
cross_validate(model_knn_i, data, measures=['RMSE'], cv=5, verbose=True)

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Evaluating RMSE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.9139  1.9275  1.9165  1.9187  1.9190  1.9191  0.0046
Fit time          0.39    0.44    0.46    0.45    0.46    0.44    0.02
Test time         0.52    0.68    0.53    0.52    0.52    0.55    0.06

{'fit_time': (0.3924977779388428,
  0.43965983390808105,
  0.4586355686187744,
  0.4457259178161621,
  0.46058225631713867),
 'test_rmse': array([1.91390421, 1.92751359, 1.91648353, 1.91865402, 1.91902589]),
 'test_time': (0.5217113494873047,
  0.6768472194671631,
  0.5273661613464355,
  0.5150752067565918,
  0.515618085861206)}

In [16]:
book_final_data['user_id'].duplicated().sum()

152248

In [17]:
book_final_data.drop_duplicates(subset ="user_id",
                     keep = 'last', inplace = True)

In [18]:
book_final_data['user_id'].duplicated().sum()

0

In [19]:
book_final_data

        user_id  age        isbn  ...               city            state    country
4959        254   24  1931081727  ...        minneapolis        minnesota        usa
8409        638   20  1570717257  ...          san diego       california        usa
13636      1424   34  1876825251  ...        north avoca  new south wales  australia
15358      1733   30  1551669404  ...       independence    west virginia        usa
16292      1903   36  B0000DAPP1  ...            hualien           taiwan     taiwan
...         ...  ...         ...  ...                ...              ...        ...
153378   276680   55  067179387X  ...  hopewell junction         new york        usa
153402   277427   48  1930285000  ...            gilbert          arizona        usa
153405   278137   27  0879050470  ...        san antonio            texas        usa
153408   278188   34  0821715402  ...        lake george         new york        usa
153427   278418   34  1569751544  ...              omaha         nebraska        usa

[1180 rows x 14 columns]

In [20]:
# creating pivot table from "book_final_data"
book_rating=book_final_data.pivot(index='user_id',columns='book_title', values='rating')

In [21]:
book_rating.tail(4)

book_title   Summonings: Books of Magic, Vol. 2  ...  Zoo's (Twin Sisters Productions (Audio))
user_id                                          ...
277427                                      NaN  ...                                       NaN
278137                                      NaN  ...                                       NaN
278188                                      NaN  ...                                       NaN
278418                                      NaN  ...                                       NaN

[4 rows x 1179 columns]

In [22]:
# Count the occupied cells
sparsity_count = book_rating.isnull().values.sum()

In [23]:
# Count all cells
full_count = book_rating.size

In [24]:
# Find the sparsity of the DataFrame
sparsity = sparsity_count / full_count
print(sparsity)

0.9991518235793045

In [25]:
# Load SVD algorithm
model_SVD = SVD()

# Train on books dataset
model_selection.cross_validate(model_SVD, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.5261  1.5261  1.5319  1.5256  1.5243  1.5268  0.0026
Fit time          8.60    8.43    8.84    8.96    8.50    8.67    0.20
Test time         0.48    0.49    0.48    0.26    0.57    0.46    0.10

{'fit_time': (8.600725889205933,
  8.43047308921814,
  8.841378450393677,
  8.961430788040161,
  8.502896308898926),
 'test_rmse': array([1.52606535, 1.52613442, 1.53186952, 1.52561657, 1.52433083]),
 'test_time': (0.48125362396240234,
  0.48599839210510254,
  0.48290491104125977,
  0.2588968276977539,
  0.5694124698638916)}

In [26]:
# set test set to 20%
trainset, testset = model_selection.train_test_split(data, test_size=0.2)

In [27]:
# Instantiate the SVD model.
model_SVD = SVD()

# Train the algorithm on the training set, and predict ratings for the test set
%time model_SVD.fit(trainset)
predictions = model_SVD.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

CPU times: user 8.34 s, sys: 25.8 ms, total: 8.37 s
Wall time: 8.36 s
RMSE: 1.5236

1.5236232677619779

In [28]:
# Load NMF algorithm
model_NMF = NMF()
# Train on books dataset
%time model_selection.cross_validate(model_NMF, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    2.4281  2.4408  2.4490  2.4393  2.4925  2.4499  0.0223
Fit time          16.80   16.45   16.82   16.57   16.40   16.61   0.17
Test time         0.31    0.53    0.25    0.23    0.23    0.31    0.11
CPU times: user 1min 27s, sys: 319 ms, total: 1min 27s
Wall time: 1min 27s

{'fit_time': (16.79652500152588,
  16.453893184661865,
  16.8228018283844,
  16.568634271621704,
  16.399794101715088),
 'test_rmse': array([2.42806268, 2.44083408, 2.4490154 , 2.43930634, 2.49249289]),
 'test_time': (0.3105008602142334,
  0.5256786346435547,
  0.2543172836303711,
  0.23202300071716309,
  0.23033380508422852)}

In [29]:
# Remake the train/test sets, keeping 20% for testing
trainset, testset = model_selection.train_test_split(data, test_size=0.2)

In [30]:
from surprise.model_selection import GridSearchCV

In [31]:
# Use the new parameters with the training set
model_SVD = SVD(n_factors=80, lr_all=0.005, reg_all=0.04)
%time model_SVD.fit(trainset) 
test_pred = model_SVD.test(testset)

CPU times: user 7.19 s, sys: 16 ms, total: 7.2 s
Wall time: 7.23 s

In [32]:
print("SVD : Test Set")
accuracy.rmse(test_pred, verbose=True)

SVD : Test Set
RMSE: 1.5222

1.5221651541757557

In [33]:
# Trial 1: get a prediction for specific user
u_id = 75819  
i_id = '0440234743' 


pred = model_SVD.predict(u_id, i_id, verbose=True)

user: 75819      item: 0440234743 r_ui = None   est = 7.32   {'was_impossible': False}

In [34]:
# Trial 2: get a prediction for specific user
u_id = 193529  
i_id = '0440234743' 


pred = model_SVD.predict(u_id, i_id, verbose=True)

user: 193529     item: 0440234743 r_ui = None   est = 7.43   {'was_impossible': False}

In [35]:
from collections import defaultdict

def get_top_n(predictions, n=10):
    
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for u_id, i_id, true_r, est, _ in predictions:
        top_n[u_id].append((i_id, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for u_id, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[u_id] = user_ratings[:n]
        
    
    return top_n

In [36]:
pred = model_SVD.test(testset)
top_n = get_top_n(pred)

In [37]:
import json
json.dump(top_n, open(r"top_n.jsn","w"))

In [38]:
def get_reading_list(userid):
    
    # user_id is the 13618
    ratings = book_final_data.loc[book_final_data['user_id'] == userid]
    # obtain the required data of the selected user
    ratings=ratings[['book_title', 'rating']]
    if ratings.empty:
        print('Sorry your recommendation bucket is empty as you did not rate any books yet')
    else:
        df_reset=ratings.set_index('book_title')
        print("Your reading history: \n", df_reset.sort_values(by='rating', ascending=False).head(15))
        
    print("\n\nTop 10 recommended books for you: \n")
    reading_list = defaultdict(list)
    top_n = get_top_n(predictions, n=10)
    for n in top_n[userid]:
        book, rating = n
        title = book_final_data.loc[book_final_data.isbn==book].book_title.unique()[0]
        reading_list[title] = rating
        
    example_reading_list = reading_list.items()
    df = pd.DataFrame([(k,v) for k, v in example_reading_list], columns = ["book_name","rating"])
    df_set=df.set_index('book_name')
    df_set1=df_set.sort_values(by='rating', ascending=False).head(5)
    return reading_list

In [45]:
# Let's take a random look at user_id=11676 from the testset
example_reading_list = get_reading_list(userid=116865)
for book, rating in example_reading_list.items():
    print(f'{book}: {rating}')

Sorry your recommendation bucket is empty as you did not rate any books yet


Top 10 recommended books for you: