In [1]:
!pip install rake_nltk
#rake_nltk is the library i am  using to extract keywords from description!. it has stopwords (by default english ) preloaded

Requirement already satisfied: rake_nltk in /usr/local/lib/python3.7/dist-packages (1.0.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from rake_nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->rake_nltk) (1.15.0)

In [2]:
from rake_nltk import Rake
import nltk
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
df = pd.read_csv('/content/drive/MyDrive/bookfinal/book_final_data.csv', engine='python', error_bad_lines=False)
df.head()
df=df[['isbn','book_title','book_author','Summary','Category']]
df.rename(columns = {'Summary':'description', 'Category':'categories'}, inplace = True)
df.drop_duplicates(subset ="book_title",
                     keep = 'last', inplace = True)
df.dropna(inplace = True)
print(df.shape)
df.drop_duplicates(subset=['isbn'])#there aren't any duplicate isbns(there are some anamolies)
print(df.shape)
df['description'].apply(type).value_counts()
import string
df['description'] = df['description'].str.replace('[{}]'.format(string.punctuation), '')
df['description'].astype(str)
df['description'].apply(type).value_counts()

(79583, 5)
(79583, 5)

<class 'str'>    79583
Name: description, dtype: int64

In [3]:
import re
def preprocess_text(text):
    text = re.sub(r'([^\s\w]|_)+', '', text)
    return text
  
df['categories'] = df['categories'].map(preprocess_text)

In [4]:
df['Key_words'] = ''
r = Rake()
for index, row in df.iterrows():
  r.extract_keywords_from_text(row['description'])   # to extract key words, default in lower case
  key_words_dict_scores = r.get_word_degrees()   
  row['Key_words'] = list(key_words_dict_scores.keys())   # to assign list of key words to new column


df.head()

          isbn  ...                                          Key_words
1   0002005018  ...  [sister, nora, bound, small, town, new, york, ...
3   0374157065  ...  [describes, great, flu, epidemic, prevent, ano...
9   0425176428  ...  [essays, history, differently, worse, respecte...
10  0671870432  ...                                                [9]
66  0452264464  ...  [intimate, novel, transforms, history, exodus,...

[5 rows x 6 columns]

In [5]:
#adding the categories i.e. genres to keywords as well so that similar genre books can be selected
df['categories']= df['categories'].apply(lambda x:x.split())
df['categories'].astype(str)
df['Key_words']=df['categories']+df['Key_words']
df.head()

          isbn  ...                                          Key_words
1   0002005018  ...  [Actresses, sister, nora, bound, small, town, ...
3   0374157065  ...  [Medical, describes, great, flu, epidemic, pre...
9   0425176428  ...  [History, essays, history, differently, worse,...
10  0671870432  ...                                             [9, 9]
66  0452264464  ...  [Fiction, intimate, novel, transforms, history...

[5 rows x 6 columns]

**making authors names into keywords as well, each author's name will be merged(firstnamelastname) and added as a separate keyword. **

In [6]:
df.rename(columns = {'book_author':'authors'}, inplace = True)

In [7]:
df['authors']= df['authors'].apply(lambda x:x.lower().replace(' ',''))

In [8]:
df.head()

          isbn  ...                                          Key_words
1   0002005018  ...  [Actresses, sister, nora, bound, small, town, ...
3   0374157065  ...  [Medical, describes, great, flu, epidemic, pre...
9   0425176428  ...  [History, essays, history, differently, worse,...
10  0671870432  ...                                             [9, 9]
66  0452264464  ...  [Fiction, intimate, novel, transforms, history...

[5 rows x 6 columns]

In [9]:
df['authors']= df['authors'].apply(lambda x:x.lower().replace(';',' '))
df.head()

          isbn  ...                                          Key_words
1   0002005018  ...  [Actresses, sister, nora, bound, small, town, ...
3   0374157065  ...  [Medical, describes, great, flu, epidemic, pre...
9   0425176428  ...  [History, essays, history, differently, worse,...
10  0671870432  ...                                             [9, 9]
66  0452264464  ...  [Fiction, intimate, novel, transforms, history...

[5 rows x 6 columns]

In [10]:
df

              isbn  ...                                          Key_words
1       0002005018  ...  [Actresses, sister, nora, bound, small, town, ...
3       0374157065  ...  [Medical, describes, great, flu, epidemic, pre...
9       0425176428  ...  [History, essays, history, differently, worse,...
10      0671870432  ...                                             [9, 9]
66      0452264464  ...  [Fiction, intimate, novel, transforms, history...
...            ...  ...                                                ...
153423  0812533232  ...                                             [9, 9]
153424  0812543181  ...                                             [9, 9]
153425  0821726595  ...  [Fiction, daughter, molly, dark, secrets, surr...
153426  155882068X  ...                                             [9, 9]
153427  1569751544  ...  [Health, Fitness, offers, discusses, sleep, di...

[79583 rows x 6 columns]

In [11]:
df['authors']= df['authors'].apply(lambda x:x.split())
df['authors'].astype(str)
df['Key_words']=df['authors']+df['Key_words']
df.head()

          isbn  ...                                          Key_words
1   0002005018  ...  [richardbrucewright, Actresses, sister, nora, ...
3   0374157065  ...  [ginabarikolata, Medical, describes, great, fl...
9   0425176428  ...  [robertcowley, History, essays, history, diffe...
10  0671870432  ...                                 [scottturow, 9, 9]
66  0452264464  ...  [tonimorrison, Fiction, intimate, novel, trans...

[5 rows x 6 columns]

In [12]:
#creating the bag of words which is used by the rake function to get vectors
df['Bag_of_words'] = ''
for index, row in df.iterrows():
    words = ''
    words += ' '.join(row['Key_words']) + ' '
    row['Bag_of_words'] = words
df['Bag_of_words'] = df['Bag_of_words'].str.strip().str.replace('   ', ' ').str.replace('  ', ' ')

In [13]:
df.head(7)

          isbn  ...                                       Bag_of_words
1   0002005018  ...  richardbrucewright Actresses sister nora bound...
3   0374157065  ...  ginabarikolata Medical describes great flu epi...
9   0425176428  ...  robertcowley History essays history differentl...
10  0671870432  ...                                     scottturow 9 9
66  0452264464  ...  tonimorrison Fiction intimate novel transforms...
75  0609804618  ...  theonion Humor account staff satirical collect...
77  1841721522  ...  celiabrooksbrown Cooking innovative approach n...

[7 rows x 7 columns]

In [14]:
#trial
df['Bag_of_words'][3]

'ginabarikolata Medical describes great flu epidemic prevent another lethal pandemic understand forty million people worldwide discusses efforts outbreak public health officials scientists 1918 killed'

In [15]:
df=df.iloc[0:9000].reset_index()

In [16]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['Bag_of_words'])
count_matrix

<9000x27291 sparse matrix of type '<class 'numpy.int64'>'
	with 110113 stored elements in Compressed Sparse Row format>

In [17]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.         0.         ... 0.         0.         0.        ]
 [0.         1.         0.         ... 0.         0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.20412415 0.        ]
 [0.         0.         0.         ... 0.20412415 1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [18]:
indices = pd.Series(df['isbn'])
indices[:5]

0    0002005018
1    0374157065
2    0425176428
3    0671870432
4    0452264464
Name: isbn, dtype: object

In [19]:
df

      index  ...                                       Bag_of_words
0         1  ...  richardbrucewright Actresses sister nora bound...
1         3  ...  ginabarikolata Medical describes great flu epi...
2         9  ...  robertcowley History essays history differentl...
3        10  ...                                     scottturow 9 9
4        66  ...  tonimorrison Fiction intimate novel transforms...
...     ...  ...                                                ...
8995  51338  ...  nobuyukianzai Comics Graphic Novels awkward si...
8996  51340  ...                                    kenakamatsu 9 9
8997  51342  ...                                     reijisaiga 9 9
8998  51344  ...  reijisaiga Comics Graphic Novels martial arts ...
8999  51345  ...                                  tohrufujisawa 9 9

[9000 rows x 8 columns]

**we are searching the book by isbn10 here but in the final code will use fuzzywuzzy to search through entering book title like done in the colab_filter **

In [27]:
def recommend(isbn, cosine_sim = cosine_sim):
    recommended_books = []
    resdf=pd.DataFrame()
    idx = indices[indices == isbn].index[0]   # to get the index of the movie title matching the input movie
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)  
    top_10_indices = list(score_series.iloc[1:11].index)   # to get the indices of top 10 most similar movies
    # [1:11] to exclude 0 (index 0 is the input movie itself)
    for i in top_10_indices:   # to append the titles of top 10 similar movies to the recommended_movies list
        recommended_books.append(list(df['isbn'])[i])
    resdf=df[df['isbn'].isin(recommended_books)]  
    return resdf

recommend('0002005018')# try 0439064864 for harry potter 2, 0439064864 is the time machine by hg wells

#df.loc[df['isbn10'] == '0451528557']
#print(df['title'][2510])#so duplicate book titles exist!

      index  ...                                       Bag_of_words
1126  14730  ...  louiseerdrich Fiction refuge sister mary adare...
1797  18762  ...  catherinegildiner Biography Autobiography auth...
3123  26262  ...  roberttallant Biography Autobiography reprint ...
3451  27764  ...  amandaeyreward Fiction lives recently widowed ...
4238  31184  ...  michaelcunningham Fiction c39est à new york la...
5077  35805  ...  jeanm.auel Fiction originally published new yo...
5393  37198  ...  nancymartin Fiction important part new romance...
5458  37497  ...  anniehawes Travel small italian town equally p...
6808  43561  ...  janehaddam Fiction young nun small upstate new...
7174  44920  ...  henryjames Fiction father fragile catherine sl...

[10 rows x 8 columns]

**conclusion**
we can see all of these are similar movies, share categories and from the description we can tell that they are science fiction books and have the author H.G. wells in common in one some too.