In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("/content/ChurnTrainDataset.csv.csv")

In [ ]:

df.head(2)

  state  account_length  ... number_customer_service_calls churn
0    OH           107.0  ...                           1.0    no
1    NJ           137.0  ...                           0.0    no

[2 rows x 20 columns]

In [ ]:
df.shape

(4250, 20)

This Data contains the information of customers of a Telecom Company.
It has following features:

1. state: Postal code of the customer state(Like OH-ohio,NJ-New Jersey etc)
2. account_length: The number of days that this account has been active.
3. area_code: The three-digit area code of the corresponding customerâ€™s phone number
4. international_plan: Whether the customer has an international calling plan (yes/no).
5. voice_mail_plan : Whether the customer has a voice mail feature(yes/no)
6. number_vmail_messages: The average number of voice mail messages per month.
7. total_day_minutes: The total number of calling minutes used during the day
8. total_day_calls: The total number of calls placed during the day.
9. total_day_charge: The total cost of daytime calls.
10. total_eve_minutes: the total number of calling minutes used during the evening.
11. total_eve_calls: The total number of calls placed during the evening
12. total_eve_charge: the total cost of evening time calls.
13. total_night_minutes: the total number of calling minutes used during the night.
14. total_night_calls: The total number of calls placed during the night.
15. total_night_charge: The total cost of nighttime calls.
16. total_intl_minutes: The total number of international minutes.
17. total_intl_calls: The total number of international calls.
18. total_intl_charge: The total cost for international calls.
19. number_customer_service_calls: The number of calls placed to Customer.Service.
20. churn: whether the customer left the service(Yes/No).

In [23]:
df['state'].unique()

array(['OH', 'NJ', 'OK', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI', 'IA', 'MT',
       'NY', 'ID', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC', 'WY', 'HI', 'NH',
       'AK', 'GA', 'MD', 'AR', 'WI', 'OR', 'MI', 'DE', 'UT', 'CA', 'SD',
       'NC', 'WA', 'MN', 'NM', 'NV', 'DC', 'VT', 'KY', 'ME', 'MS', 'AL',
       'NE', 'KS', nan, 'TN', 'IL', 'PA', 'CT', 'ND'], dtype=object)


* CustomerID: The unique id of each customer. 
* Count: 
* Country: Country of the customer.
* State: State of the customer.
* City : City of the customer.
* Zip Code: Zip Code of the customer.
* Lat Long: Customer's location in terms of longitude and latitude.
* Latitude: Latitude of the customer location.
* Longitude: Longitude of the customer location.
* Gender: Whether the customer is a male or a female.
* Senior Citizen: Whether the customer is senior citizen or not.
* Partner: Whether the customer has a partner or not .
* Dependents: Whether customer is depend on someone or not.
* Tenure Months: Number of months the customer has stayed with the company.
* Phone Service: Whether the customer has landline service.
* Multiple Lines: If the customer has landline, then whether there multiple lines for landline or not.
* Internet Service: Customerâ€™s internet service provider.
* Online Security: Whether the customer has company online security service or not.
* Online Backup: Whether the customer has company online backup services or not.
* Device Protection: Whether customer has a device protection or not.
* Tech Support: Whether the customer has technical support service or not.
* Streaming TV: Whether the customer has streaming TV or not.
* Streaming Movies: Whether the customer has Streaming Services (OTT) activated or not.
* Contract: The contract term of the customer (Month-to-month, One year, Two year).
* Paperless Billing: Whether customer do paperless billing or not.
* Payment Method: The customerâ€™s payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic)).
* Monthly Charges: The monthly charges of the customer's last/current plan.
* Total Charges: The total charges of the customer's last/current plan.
* CLTV: Average Revenue made by company from the customer before they churn.
* Churn Reason: The customer reason to leave the company services.
* Churn Value: Indicates customer will churn(1.0) or not(0.0).
***

In [24]:
df=pd.read_csv("https://raw.githubusercontent.com/TeamEpicProjects/Customer-Churn-Prediction/main/data/1/TelcoCustomerChurn.csv")

In [25]:
df

      CustomerID  Count  ...                Churn Reason Churn Value
0     5196-WPYOW    1.0  ...                         NaN         0.0
1     8189-HBVRW    1.0  ...                         NaN         0.0
2     4091-TVOCN    1.0  ...                         NaN         0.0
3     9603-OAIHC    1.0  ...                         NaN         0.0
4     8647-SDTWQ    1.0  ...                         NaN         0.0
...          ...    ...  ...                         ...         ...
4713  0829-DDVLK    1.0  ...                         NaN         0.0
4714  3230-JCNZS    1.0  ...                         NaN         0.0
4715  7384-GHBPI    1.0  ...  Attitude of support person         1.0
4716  9254-RBFON    1.0  ...                       Moved         1.0
4717  0022-TCJCI    1.0  ...   Limited range of services         1.0

[4718 rows x 31 columns]

In [26]:
df.dtypes

CustomerID            object
Count                float64
Country               object
State                 object
City                  object
Zip Code             float64
Lat Long              object
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months        float64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges         object
CLTV                 float64
Churn Reason          object
Churn Value          float64
dtype: object

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4718 entries, 0 to 4717
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         4687 non-null   object
 1   Count              4691 non-null   float64
 2   Country            4708 non-null   object
 3   State              4715 non-null   object
 4   City               4688 non-null   object
 5   Zip Code           4698 non-null   float64
 6   Lat Long           4713 non-null   object
 7   Latitude           4695 non-null   float64
 8   Longitude          4685 non-null   float64
 9   Gender             4698 non-null   object
 10  Senior Citizen     4711 non-null   object
 11  Partner            4678 non-null   object
 12  Dependents         4672 non-null   object
 13  Tenure Months      4704 non-null   float64
 14  Phone Service      4692 non-null   object
 15  Multiple Lines     4696 non-null   object
 16  Internet Service   4692 non-null   object
 17  Online Security    4674 non-null   object
 18  Online Backup      4714 non-null   object
 19  Device Protection  4711 non-null   object
 20  Tech Support       4695 non-null   object
 21  Streaming TV       4686 non-null   object
 22  Streaming Movies   4688 non-null   object
 23  Contract           4672 non-null   object
 24  Paperless Billing  4694 non-null   object
 25  Payment Method     4717 non-null   object
 26  Monthly Charges    4714 non-null   float64
 27  Total Charges      4704 non-null   object
 28  CLTV               4692 non-null   float64
 29  Churn Reason       1261 non-null   object
 30  Churn Value        4693 non-null   float64
dtypes: float64(8), object(23)
memory usage: 1.1+ MB

In [35]:
df[df.isnull()].shape

(4718, 31)